# Code quality tools:
black==20.8b1
codecov
flake8>=3.8.4
isort>=5.6.4
mypy>=0.770
pytest
pytest-cov>=2.10.1
pytest-random-order
pytest-mock
pytest-black>=0.3.12
pytest-isort>=1.2.0
pytest-mypy>=0.6.2
pytest-pylint>=0.17.0
pytest-timeout>=1.4.2
pytest>=5.4.3

tqdm

# Notebook tests:
jupytext
nbformat
nbconvert
jupyter_client
ipykernel
tornado
